{% extends "clients/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>Clients</h1>
      <ul class="breadcrumb">
        <li>
            <a  href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
            <a class="active" href="{% url 'customer' %}">Clients</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'customer' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
  {% if messages %}
		{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
  {% endif %} 
  <ul class="box-info">
    <a href="{% url 'create_customer' %}">
        <li>
          <i class='bx bxs-group'></i>
          <span class="text">
            <h3>Add Customer</h3>
          </span>
        </li>
      </a>
      
    <a href="{% url 'create_supplier' %}">
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>Add Supplier</h3>
      
        </span>
      </li>
    </a>
    
    <a href="{% url 'supplier' %}">
      <li>
        <i class='bx bxs-book-open'></i>
        <span class="text">
          <h3>Supplier Records</h3>
        </span>
      </li>
    </a>
  </ul>

  
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Customer Records</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table >
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>       
                        <td>{{customer.name}}</td>
                                <td>{{customer.phone_number}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>
                                      <a href="{% url 'update_customer' customer.pk %}" class="update-customer">
                                          <i class='bx bx-edit' style="font-size: 1.5em;"></i>
                                      </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_customer' customer.pk %}" class="delete-customer">
                                            <i class='bx bx-trash' style="font-size: 1.5em; color: red;"></i>
                                        </a>
                                    </td>
            </tr>
            
            {% endfor %}
        </tbody>
      </table>
    </div>
    
  </div>

{% endblock %}