{% extends "stock/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>My Store</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="{% url 'stock_list' %}">Store</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'stock_list' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %} 
  <ul class="box-info">
    <a href="{% url 'stock' %}">
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>Purchase Summary</h3>
      
        </span>
      </li>
    </a>
    <a href="{% url 'add_stock' %}">
      <li>
        <i class='bx bxs-shopping-bag-alt store' ></i>
        <span class="text">
          <h3>Add Stock</h3>
        </span>
      </li>
    </a>
    <a href="#">
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>{{ stock_count }}</h3>
          <p>Stock Items</p>
        </span>
      </li>
    </a>
  </ul>
		
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Inventory Items</h3>
          <i class='bx bx-search' ></i>
          <i class='bx bx-filter' ></i>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Size</th>
              <th>Product Types</th>
              <th>Unit </th> 
            </tr>
          </thead>
          <tbody>
              {% for stock_item in stock_item %}
              <tr>
                  <td>
                    <p>{{stock_item.name}}</p>
                  </td>
                  <td><p>{{stock_item.color}}</p></td>
                  <td>
                    {% if stock_item.preform_type %}
                    {{ stock_item.preform_type.size }}
                    {% elif stock_item.cap_type %}
                    {{ stock_item.cap_type.size }}
                    {% elif stock_item.bottle_type %}
                    {{ stock_item.bottle_type }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                  <td>
                      {% if stock_item.preform_type %}
                      {{ stock_item.preform_type.name }}
                      {% elif stock_item.product_type %}
                      {{ stock_item.product_type }}
                      {% else %}
                      N/A
                      {% endif %}
                  </td>
                 
                  <td>{{stock_item.unit}}</td>
                  
                </tr>
              {% endfor %}
           
          </tbody>
        </table>
</div>
{% endblock %}