{% extends "base/base.html" %}
{% block body %}

    <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Inventory Items</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Product Types</th>
                <th>Quantity </th> 
              </tr>
            </thead>
            <tbody>
                {% for stock_item in stock_item %}
                <tr>
                    <td>
                      <p>{{stock_item.name}}</p>
                    </td>
                    <td><p>{{stock_item.color}}</p></td>
                    <td>
                        {% if stock_item.preform_type %}
                        {{ stock_item.preform_type.name }}
                        {% elif stock_item.product_type %}
                        {{ stock_item.product_type }}
                        {% else %}
                        N/A
                        {% endif %}
                    </td>
                    <td>{{stock_item.quantity}}</td>
                  </tr>
                {% endfor %}
             
            </tbody>
          </table>
</div>
{% block javascript %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');
                
                allSideMenu.forEach(item => {
                    const li = item.parentElement;
                    
                    item.addEventListener('click', function() {
                        allSideMenu.forEach(i => {
                            i.parentElement.classList.remove('active');
                        });
                        li.classList.add('active');
                    });
                });
            });
        </script>
    {% endblock %}


{% endblock %}

