{% extends "stock/base.html" %}
{% load custom_filters %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>My Store</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="{% url 'stock_list' %}">Store</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'stock_list' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %} 
  <ul class="box-info" style="gap:10rem">
    <a href="{% url 'stock' %}">
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>Purchase Summary</h3>
      
        </span>
      </li>
    </a>
    <a href="{% url 'add_stock' %}">
      <li>
        <i class='bx bxs-shopping-bag-alt store' ></i>
        <span class="text">
          <h3>Add Stock</h3>
        </span>
      </li>
    </a>
    
  </ul>
		
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Inventory Items</h3>
          <i class='bx bx-search' ></i>
          <i class='bx bx-filter' ></i>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Color</th>
              <th>Size</th>
              <th>Product Types</th>
              <th>bag </th> 
              <th>pieces </th> 
              <th>update </th> 
              <th>delete </th> 
              
            </tr>
          </thead>
          <tbody>
              {% for stock_item in page_obj %}
              <tr>
                  <td>
                    <p>{{stock_item.name}}</p>
                  </td>
                  <td><p>{{stock_item.color}}</p></td>
                  <td>
                    {% if stock_item.preform_type %}
                    {{ stock_item.preform_type.size }}
                    {% elif stock_item.cap_type %}
                    {{ stock_item.cap_type.size }}
                    {% elif stock_item.bottle_type %}
                    {{ stock_item.bottle_type }} {{ stock_item.product_type }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                  <td>
                    {% if stock_item.name == "Bottle" %}
                    N/A
                    {% elif stock_item.preform_type %}
                        {{ stock_item.preform_type.name }}
                    {% elif stock_item.product_type %}
                        {{ stock_item.product_type }}
                    {% else %}
                        N/A
                    {% endif %}
                  </td>
                  <td>
                    {% if stock_item.name == "Bottle" or stock_item.name == "Shrinkwrapper" %}
                      N/A
                    {% else %}
                      {{ stock_item.quantity|floatformat:0|format_with_commas  }}
                    {% endif %}
                  </td>
                  <td>{{stock_item.unit|format_with_commas}}</td>
                  <td>
                    <a href="{% url 'update_stock' stock_item.pk %}">
                      <i class='bx bx-edit' style="font-size: 1.5em;"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'delete_stock' stock_item.pk %}">
                      <i class='bx bx-trash' style="font-size: 1.5em; color: red;"></i>
                    </a>
                  </td>
                  
                </tr>
              {% endfor %}
           
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo; First</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                  </a>
              </li>
              {% endif %}
              <li class="page-item disabled">
                  <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                      <span aria-hidden="true">Last &raquo;</span>
                  </a>
              </li>
              {% endif %}
          </ul>
      </nav>
</div>
{% endblock %}