{% extends "base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>Settings</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Settings</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="{% url 'settings' %}">Settings</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'settings' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %} 
<ul class="box-info" style="grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));">
    <a href="#">
      <li>
        <i class='bx bxs-user'></i>
        <span class="text">
          <h3>Profile</h3>
          <p>Edit Profile</p>
        </span>
      </li>
    </a>
    <a href="{% url 'business_statement' %}">
        <li>
          <i class='bx bxs-group'></i>
          <span class="text">
            <h3>Reports</h3>
            <p>Generate Reports</p>
          </span>
        </li>
      </a>
    
     
     
      <a href="{% url 'product_list' %}">
        <li>
          <i class='bx bxs-cylinder'></i>
          <span class="text">
            <h3>Product</h3>
            <p>Edit Products</p>
          </span>
        </li>
      </a>
      <a href="{% url 'inventory_ticket_form' %}">
        <li>
          <i class='bx bxs-file'></i>
          <span class="text">
            <h3>Ticket</h3>
            <p>create</p>
          </span>
        </li>
      </a>
      <a href="{% url 'color_list' %}">
        <li>
          <i class='bx bxs-palette'></i>
          <span class="text">
            <h3>Color</h3>
            <p>Add New Color</p>
          </span>
        </li>
      </a>
      <a href="{% url 'invoice' %}">
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>Invoice</h3>
            <p>Generate inventory</p>
          </span>
        </li>
      </a>
      <a href="{% url 'supplier_list' %}">
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>Supplier</h3>
            <p>Supplier details</p>
          </span>
        </li>
      </a>
      <a href="{% url 'customer_list' %}">
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>Customer</h3>
            <p>Customer details</p>
          </span>
        </li>
      </a>
      <a href="{% url 'product_type_list' %}">
        <li>
          <i class='bx bxs-dollar-circle' ></i>
          <span class="text">
            <h3>Product Type</h3>
            <p>Add Product Type</p>
          </span>
        </li>
      </a>
  </ul>
{% endblock %}