{% extends 'settings/base.html' %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %} 
  <h2>Reverse Sale</h2>
  <p>Are you sure you want to reverse the sale of {{ sale.quantity }} units of {{ stock_item.name }}?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirm</button>
    <a href="{% url 'sales_record' %}">Cancel</a>
  </form>
{% endblock %}
