{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.css' %}">
    <style>
        .production-summary {
            display: flex;
            justify-content:flex-start;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            border: 0.5px solid rgb(226, 226, 226); 
            padding: 20px; /* Add padding for spacing */
            border-radius: 8px; /* Optional: Add rounded corners */
        }
        
        .box {
            flex-direction: column;
            padding: 20px;
            width: 25%;
        }
        
        .box h5 {
            font-size: 14px;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="invoice-wrapper" id="print-area">
                    <div class="invoice">
                        <div class="invoice-container">
                            <div class="invoice-head">
                                <div class="invoice-head-top d-flex justify-content-between align-items-center">
                                    <div class="invoice-head-top-left">
                                        <h3><span style="color: green;">TRIPLE T</span> Royal Ventures</h3>
                                        <span style="color: green;font-style: italic; font-size: 12px;">Quality Bottles, Endless Design</span>
                                    </div>
                                    <div class="invoice-head-top-right">
                                        <h3>Sales Report</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="invoice-head-middle">
                                    <p class="text-start" style="font-weight: bold;"><span class="fw-bold" style="font-weight: bold;">Date</span>: {% now "Y-m-d" %}</p>
                                </div>
                                <div class="invoice-head-middle">
                                    <p class="text-start"><span class="fw-bold" style="font-weight: bold;">From</span>: {{start_date|date:"d/m/Y"}} <span class="fw-bold" style="font-weight: bold;">To</span>: {{end_date|date:"d/m/Y"}}</p>
                                </div>
                                
                                <div class="production-summary">
                                    <div class="box">
                                        
                                        <h5>Bottles Quantity</h5>
                                        <p>{{bottles_sold|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Preforms Quantity</h5>
                                        <p>{{preforms_sold|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Shrinkwrappers Quantity</h5>
                                        <p>{{shrinkwrappers_sold|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Caps Quantity</h5>
                                        <p>{{caps_sold|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    <div class="box">
                                        
                                        <h5>Bottles Total</h5>
                                        <p> &#x20A6; {{bottles_total|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Preforms Total</h5>
                                        <p>&#x20A6; {{preforms_total|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Shrinkwrappers Total</h5>
                                        <p> &#x20A6; {{shrinkwrappers_total|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Caps Total</h5>
                                        <p> &#x20A6; {{caps_total|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    <div class="box">
                                        
                                        <h5>Sold Stock Quantity</h5>
                                        <p>{{total_quantity_sold|floatformat:0|format_with_commas}}</p>
                                    </div>
                                    
                                    <div class="box">
                                        
                                        <h5>Sold Stock Total</h5>
                                        <p> &#x20A6; {{total_stk|floatformat:0|format_with_commas}}</p>
                                    </div>
                                </div>
                                
                               
                            
                            </div>
                            <div class="overflow-view">
                                <div class="invoice-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="fw-bold">Date</th>
                                                <th class="fw-bold">Product</th>
                                                <th class="fw-bold">Product type</th>
                                                <th class="fw-bold">Product size</th>
                                                <th class="fw-bold">Product color</th>
                                                <th class="fw-bold">Quantity</th>
                                                <th class="fw-bold">Price &#x20A6;</th>
                                                <th class="fw-bold">Total &#x20A6;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sales_records in sales_records %}
                                                <tr>
                                                    <td>{{ sales_records.created_at|date:"d/m/Y" }}</td>
                                                    <td>{{ sales_records.product.name }}</td>
                                                    <td>{% if sales_records.product.bottle_type %}
                                                        {{ sales_records.product.bottle_type }} {{ sales_records.product.product_type }}
                                                        {% elif sales_records.product.preform_type %}
                                                        {{ sales_records.product.preform_type.name }}
                                                        {% elif sales_records.product.product_type %}
                                                        {{ sales_records.product.product_type }}
                                                        {% else %}
                                                        N/A
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if sales_records.product.preform_type %}
                                                        {{ sales_records.product.preform_type.size }}
                                                        {% elif sales_records.product.cap_type %}
                                                        {{ sales_records.product.cap_type.size }}
                                                        {% elif stock_item.product.bottle_type %}
                                                        {{ sales_records.product.bottle_type }}
                                                        {% else %}
                                                        N/A
                                                        {% endif %}
                                                    </td>
                                                    
                                                    <td> {{ sales_records.product.color }} </td>
                                                    <td> {{ sales_records.quantity|floatformat:0|format_with_commas }} </td>
                                                    <td> {{ sales_records.price|format_with_commas }} </td>
                                                    <td> {{ sales_records.total|format_with_commas }} </td>
                                                </tr>
                                                
                                            </td>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class = "invoice-btns">
                                <button type = "button" class = "invoice-btn" onclick="printInvoice()">
                                    <span>
                                        <i class="fa-solid fa-print"></i>
                                    </span>
                                    <span>Print</span>
                                </button>
                                <button type="button" class="invoice-btn" id="download-pdf-btn">
                                    <span>
                                        <i class="fa-solid fa-download"></i>
                                    </span>
                                    <span>Download</span>
                                </button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Script tags for pdfMake and html-to-pdfmake libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-pdfmake/0.1.1/html-to-pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script>
        // Function to print the invoice
        function printInvoice() {
            window.print();
        }
    </script>
</body>
</html>
