{% extends "base.html" %}
{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %} 

<div class="head-title">
    <div class="left">
        <h1>Add Inventory Ticket</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Inventory Ticket Form</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="{% url 'inventory_ticket_form' %}">Inventory Ticket</a>
          </li>
        </ul>
    </div>
    <a href="{% url 'inventory_list' %}" class="btn-download">
        <i class='bx bx-right-arrow-circle'></i>
        <span class="text">Back</span>
    </a>
</div>

<div class="container mt-5">
    <div id="forms" class="col-md-6 mb-3 mt-5">
        <!-- inventory/templates/inventory/inventory_ticket_form.html -->

<form id="inventoryTicketForm" method="POST" action="{% url 'inventory_ticket_form' %}" class="shadow p-3 form-display">
    {% csrf_token %}
    <h2 class="p-4 text-center" style="color: rgb(60,145,230);">Add Inventory Ticket</h2>

    <div class="mb-3">
        <label for="inventory" class="form-label">Inventory</label>
        <select name="inventory" class="form-select" id="inventory" required>
            <option value="" selected>Select</option> <!-- Default option -->
            {% for inventory in inventories %}
            <option value="{{ inventory.id }}">
                {{ inventory.product.name }} - {{inventory.product.type}} - {{inventory.product.size}} - {{inventory.product.color}} - {{ inventory.unit }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity" step="0.01" placeholder="Enter Quantity" required>
    </div>

    <div class="mb-3">
        <label for="reason" class="form-label">Reason</label>
        <select name="reason" class="form-select" id="reason" required>
            <option value="" selected>Select</option> <!-- Default option -->
            <option value="INCREASE">Increase</option>
            <option value="DECREASE">Decrease</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="note" class="form-label">Note</label>
        <textarea name="note" class="form-control" id="note" placeholder="Enter any notes (optional)"></textarea>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

    </div>
</div>

{% endblock %}
