{% extends "base/root.html" %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <h3>Preform Product Form</h3>
            </div>
            <form method="POST" action="{% url 'create_preform' %}" class="shadow p-3">   
                {% csrf_token %}

                <div class="mb-3">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Product Name" value="Preform" readonly>
                </div>

               

                <div class="form-group">
                    <label for="product_type" class="form-label">Preform Type</label>
                    <select name="product_type" class="form-select" id="product_type" required>
                      <option value="" selected>Select</option> <!-- Default option -->
                      {% for preform_type in preform_types %}
                      <option value="{{ preform_type }}">{{ preform_type }}</option>
                      {% endfor %}
                    </select>
                  </div>

                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <select class="form-select" id="color" name="color" required>
                        <option value="" selected>Select</option> <!-- Default option -->
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                        <!-- Add more color options as needed -->
                    </select>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
