{% extends "base/root.html" %}
{% block body %}
  <div class="container">
    <h2 class="text-center fw-bolder font-monospace"> PRODUCT: PREFORM</h2>
    <a href="{% url 'create_preform' %}" class="btn btn-secondary">Add Item</a></td>
    <table class="table table-striped table-hover table-bordered mt-4">
        <thead class="table-dark">
        <tr>
            <th scope="col">Product Type</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity_per_bag</th>
        </tr>
        </thead>
        <tbody>
        
            {% for preform in preforms %}
                <tr>
                    <td> {{preform.product_type.name}}</a></td>       
                            <td>{{preform.color}}</td>
                                <td>{{preform.product_type.size}}</td>
                                    <td>{{preform.product_type.quantity_per_bag}}</td>
                </tr>
                
            {% endfor %}
        
        </tbody> 
    </table>
  </div>

{% endblock %}