{% extends "clients/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>Supplier Record</h1>
      <ul class="breadcrumb">
        <li>
            <a  href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
            <a class="active" href="{% url 'customer' %}">Clients</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'customer' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %} 
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Supplier Records</h3>
        <i class='bx bxs-group'></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>       
                <td>{{supplier.name}}</td>
                        <td>{{supplier.phone_number}}</td>
                            <td>{{supplier.email}}</td>
            </tr>         
            {% endfor %}    
        </tbody>
      </table>
    </div>
    
  </div>

{% endblock %}