{% extends "production/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
        <h1>Production</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="{% url 'record' %}">Production</a>
          </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">Download PDF</span>
    </a>
</div>
  <div class="col-md-6">
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
        {% endif %}

    <form action="{% url 'production' %}" method="POST" class="shadow p-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="created_at" class="text form-label">Date</label>
            <input type="date" class="form-control" name="created_at" id="created_at" placeholder="created_at" value="created_at">
        </div>

        <div class="form-group">
            <label for="product" class="form-label">Stock</label>
            <select name="product" class="form-select" id="product" required>
                <option value="" selected>Select</option> <!-- Default option -->
                {% for stock in stock %}
                    {% if stock.name == "Preform" %}
                        <option value="{{ stock.id }}">{{ stock.preform_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="preform_quantity" class="form-label">Preform Quantity</label>
            <input type="text" class="form-control" id="preform_quantity" name="preform_quantity" placeholder="preform_quantity">
        </div>

        <div class="mb-3">
            <label for="shortages" class="form-label">shortages</label>
            <input type="text" class="form-control" id="shortages" name="shortages" placeholder="shortages">
        </div>

        
        <div class="mb-3">
            <label for="excesses" class="form-label">excesses</label>
            <input type="text" class="form-control" id="excesses" name="excesses" placeholder="excesses">
        </div>

        
        <div class="mb-3">
            <label for="damages" class="form-label">damages</label>
            <input type="text" class="form-control" id="damages" name="damages" placeholder="damages">
        </div>

        
        <div class="mb-3">
            <label for="waste_bottle" class="form-label">waste bottle</label>
            <input type="text" class="form-control" id="waste_bottle" name="waste_bottle" placeholder="waste_bottle">
        </div>

          
        <div class="mb-3">
            <label for="good_bottle" class="form-label">good bottle</label>
            <input type="text" class="form-control" id="cap-good_bottle" name="good_bottle" placeholder="good_bottle">
        </div>

        <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <select class="form-select" id="color" name="color" required>
                <option value="" selected>Select</option> <!-- Default option -->
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <!-- Add more color options as needed -->
            </select>
          </div>

        <div class="mb-3">
            <label for="bottle_size" class="form-label">bottle_size</label>
            <input type="text" class="form-control" id="bottle_size" name="bottle_size" placeholder="bottle_size">
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
    </form>
  
  {% endblock %}  