{% extends "production/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
        <h1>Production</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="{% url 'record' %}">Production</a>
          </li>
        </ul>
    </div>
    <a href="{% url 'record' %}" class="btn-download">
        <i class='bx bx-right-arrow-circle'></i>
        <span class="text">Back</span>
    </a>
</div>
{% if messages %}
		{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
{% endif %}    
  <div class="col-md-6">
       
    <form action="{% url 'production' %}" method="POST" class="shadow p-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="created_at" class="text form-label">Date</label>
            <input type="date" class="form-control" name="created_at" id="created_at" placeholder="created_at" value="created_at">
        </div>

        <div class="form-group">
            <label for="product" class="form-label">Stock</label>
            <select name="product" class="form-select" id="product" required>
                <option value="" selected>Select</option> <!-- Default option -->
                {% for stock in stock %}
                    {% if stock.name == "Preform" %}
                        <option value="{{ stock.id }}">{{ stock.preform_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="quantity" class="form-label">Preform Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="quantity in units">
        </div>

      

        
        <div class="mb-3">
            <label for="damages" class="form-label">damages</label>
            <input type="number" class="form-control" id="damages" name="damages" placeholder="damages">
        </div>

        
        <div class="mb-3">
            <label for="waste_bottle" class="form-label">waste bottle</label>
            <input type="number" class="form-control" id="waste_bottle" name="waste_bottle" placeholder="waste_bottle">
        </div>

          
        <div class="mb-3">
            <label for="good_bottle" class="form-label">good bottle</label>
            <input type="number" class="form-control" id="cap-good_bottle" name="good_bottle" placeholder="good_bottle">
        </div>

        <div class="form-group">
            <label for="color" class="form-label">Color</label>
            <select name="color" class="form-select" id="color">
              <option value="" selected>Select</option> <!-- Default option -->
              {% for color in color %}
              <option value="{{ color.id }}">{{ color.name }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="bottle_size" class="form-label">bottle_size</label>
            <input type="number" class="form-control" id="bottle_size" name="bottle_size" placeholder="bottle_size">
        </div>

        <!-- <div class="mb-3">
            <label for="bottle_unit" class="form-label">bottle_unit</label>
            <select class="form-select" id="bottle_unit" name="bottle_unit">
                <option value="L">L</option>
                <option value="CL">CL</option>
                <option value="ML">ML</option>
            </select>
        </div> -->
        

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add Item</button>
        </div>
    </form>
  
  {% endblock %}  