{% extends "production/base.html" %}
{% load custom_filters %}
{% block body %}
<div class="head-title">
    <div class="left">
        <h1>Production</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="{% url 'record' %}">Production Record</a>
            </li>
        </ul>
    </div>
    <ul class="box-info">
        <a href="{% url 'production' %}">
            <li>
                <i class='bx bxs-factory'></i>
                <span class="text">
                    <h3>Production</h3>
                    <p>Add Record</p>
                </span>
            </li>
        </a>
    </ul>
</div>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Production Record</h3>
            <i class='bx bx-search'></i>
            <i class='bx bx-filter'></i>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Product Type</th>
                    <th>Color</th>
                    <th>Damages</th>
                    <th>Waste </th>
                    <th>Good Bottles</th>
                    <th>Bottle Color</th>
                    <th>Size</th>
                    
                    {% if user.is_superuser %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for record in page_obj %}
                <tr>
                    <td>{{ record.created_at|date:"d-m-y" }}</td>
                    <td>{{ record.product.name }}</td>
                    <td>{{ record.product.preform_type }}</td>
                    <td>{{ record.product.color }}</td>
                    <td>{{ record.damages|format_with_commas }}</td>
                    <td>{{ record.waste_bottle|format_with_commas }}</td>
                    <td>{{ record.good_bottle|format_with_commas }}</td>
                    <td>{{ record.bottle_color }}</td>
                    <td>{{ record.bottle_size }}  {{ record.bottle_unit }}</td>
                    
                    <td>
                        <a href="{% url 'reverse_production' record.id %}" class="btn btn-danger">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo; First</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">Previous</span>
                  </a>
              </li>
              {% endif %}
              <li class="page-item disabled">
                  <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                      <span aria-hidden="true">Last &raquo;</span>
                  </a>
              </li>
              {% endif %}
          </ul>
      </nav>
    </div>
</div>
{% endblock %}
