{% extends "base/base.html" %}
{% load custom_filters %}
{% block body %}

<!-- MAIN -->
<style>
  .delete-button {
    background: none;
    border: none; /* Remove border */
    cursor: pointer;
    padding: 0;
    margin: 0;}
    
  .delete-icon {
    font-size: 24px; /* Adjust the font size as needed */
    color: #FF0000; /* Change color if needed */
    /* Add more styling properties as needed */
}
</style>
  <div class="head-title">
    <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="#">Home</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'home' %}" class="btn-download">
      <i class='bx bx-right-arrow-circle'></i>
      <span class="text">Back</span>
    </a>
  </div>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %} 
  <ul class="box-info">
    <li>
      <i class='bx bxs-shopping-bag-alt store' ></i>
      <span class="text">
        <h3>Stock</h3>
        <p>{{ stock_count }}</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-wallet'></i>
      <span class="text">
        <h3>Sales</h3>
        <p>&#x20A6; {{total_sales_amount|format_with_commas}}</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
        <h3>Purchases</h3>
        <p>&#x20A6; {{total_purchase_amount|format_with_commas}}</p>
      </span>
    </li>
  </ul>


  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Inventory Items</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Product Types</th>
            <th>Quantity </th> 
          </tr>
        </thead>
        <tbody>
            {% for stock_item in stock_item|slice:":5" %}
            <tr>
                <td>
                  <p>{{stock_item.name}}</p>
                </td>
                <td><p>{{stock_item.color}}</p></td>
                <td>
                    {% if stock_item.preform_type %}
                    {{ stock_item.preform_type.name }}
                    {% elif stock_item.product_type %}
                    {{ stock_item.product_type }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{stock_item.unit}}</td>
              </tr>
            {% endfor %}
         
        </tbody>
      </table>
</div>


    <div class="todo">
      <div class="head">
        <h3>Chats</h3>
        <i class='bx bx-plus' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <ul class="todo-list">
        {% for notification in notifications|slice:":2" %} 
          <a href="#">
            <li class="completed" style="display: flex;flex-direction: column; align-items: flex-start; margin-bottom: 10px;" >
              <p>{{ notification.timestamp }}</p>
              <p>{{ notification.message }}</p>
              <form action="{% url 'delete_notification' notification.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-button">
                    <i class='bx bx-trash delete-icon'></i> <!-- Replace 'bx-trash' with the desired trash icon from Boxicons -->
                </button>
              </form>
            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>

<!-- MAIN -->

    


{% endblock %}