{% extends "base.html" %}
{% block body %}
{% load custom_filters %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %} 
<div class="container mt-5">
   
    <div id="forms" class="col-md-6 mb-3 mt-5">
        <!-- update_old_stock.html -->

<form id="updateoldstockform" method="POST" action="{% url 'update_old_stock' oid=old_stock.oid %}" class="shadow p-3 form-display">
    {% csrf_token %}
    <h2 class="p-4 text-center" style="color: rgb(60,145,230);">Update Old Stock</h2>
    
    <div class="mb-3">
        <label for="product" class="form-label">Product</label>
        <select name="product" class="form-select" id="product">
            {% for product in products %}
                <option value="{{ product.id }}" {% if product.id == old_stock.product.id %}selected{% endif %}>{{ product.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="unit" class="form-label">Unit</label>
        <input type="text" class="form-control" name="unit" id="unit" value="{{ old_stock.unit|format_with_commas }}" placeholder="Enter unit">
    </div>

    <div class="mb-3">
        <label for="created_at" class="form-label">Created At</label>
        <input type="datetime-local" class="form-control" name="created_at" id="created_at" value="{{ old_stock.created_at|date:'Y-m-d' }}T{{ old_stock.created_at|time:'H:i' }}">
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="price" class="form-control" name="price" id="price" value="{{ old_stock.price|format_with_commas }}" step="0.01" placeholder="Total cost of old Stock" required>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update Old Stock</button>
    </div>
</form>

        
    </div>
</div>


{% endblock %}