{% extends "base/root.html" %}
{% block body %}
<div class="container mt-5">
    <h3>Stock Items</h3>
    <table class="table table-striped table-hover table-bordered mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Supplier</th>
                <th>Quantity (Bag)</th>
                <th>Quantity (pieces)</th>
                <th>Price</th>
                <th>Size</th>
                <th>Total</th>
                <th>Date</th>
                <th>color</th>
                <th>Product Types</th>
            </tr>
            
        </thead>
        <tbody>
            <!-- Replace the example data with your actual data from the database -->
            {% for stock in stocks %}
            <tr>
                <td>{{stock.name}}</td>
                <td>{{stock.supplier}}</td>
                <td>{{stock.quantity}}</td>
                <td>
                    {% if stock.cap_type %}
                    {{ stock.cap_type.quantity_per_bag }}
                    {% elif stock.preform_type %}
                    {{ stock.preform_type.quantity_per_bag }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{stock.price}}</td>
                <td>
                    {% if stock.cap_type %}
                    {{ stock.cap_type.size }}
                    {% elif stock.preform_type %}
                    {{ stock.preform_type.size }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>{{stock.total}}</td>
                <td>{{stock.created_at}}</td>
                <td>{{stock.color}}</td>
                <td>
                    {% if stock.preform_type %}
                    {{ stock.preform_type.name }}
                    {% elif stock.product_type %}
                    {{ stock.product_type }}
                    {% else %}
                    N/A
                    {% endif %}</td>
                <!-- These cells are for the sub-table data within "Product Types" -->
            </tr>
            <!-- Add more rows for additional stock items if needed -->
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}