{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="head-title">
    <div class="left">
      <h1>Invoice</h1>
      <ul class="breadcrumb">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li><i class='bx bx-chevron-right'></i></li>
        <li>
            <a class="active" href="{% url 'invoice' %}">Invoice</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'invoice' %}" class="btn-download">
      <i class='bx bx-refresh'></i>
      <span class="text">Refresh</span>
    </a>
</div>

<form id="searchForm" method="GET" class="row g-3">
  <div class="form-group col-md-6">
    <label for="customer" class="form-label">Customer</label>
    <select name="customer" class="form-select" id="customer" required>
      <option value="" selected>Select</option>
      {% for customer in customers %}
      <option value="{{ customer.name }}">{{ customer.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="transaction_date" class="form-label">Transaction Date</label>
    <input type="date" id="transaction_date" name="transaction_date" class="form-control">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

{% if sales_data %}
<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Search Results</h3>
      <i class='bx bx-search'></i>
      <i class='bx bx-filter'></i>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Product</th>
          <th>Customer</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales_data %}
        <tr>
          <td>{{ sale.created_at }}</td>
          <td>{{ sale.product.name }}</td>
          <td>{{ sale.customer.name }}</td>
          <td>{{ sale.unit }}</td>
          <td>{{ sale.price }}</td>
          <td>{{ sale.total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<p>No sales found for the selected criteria.</p>
{% endif %}

<div class="invoice-foot text-center">
    <div class="invoice-btns">
        <a href="{% url 'print_invoice' %}?{% if sales_data %}{% for sale in sales_data %}selected_sales={{ sale.id }}{% if not forloop.last %}&{% endif %}{% endfor %}{% endif %}" class="invoice-btn btn btn-primary">
            <span>
                <i class="fa-solid fa-print"></i>
            </span>
            <span>Print</span>
        </a>
    </div>
</div>

{% endblock %}
