{% extends "sales/base.html" %}
{% block body %}
<div class="head-title">
    <div class="left">
        <h1>Record Sales</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="{% url 'sales_record' %}">Record Sales</a>
          </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">Download PDF</span>
    </a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 ">
           

            <div id="forms" class="mb-3">

                <form id="preform" method="POST" action="{% url 'sales_form' %}" class="shadow p-3 form-display">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="created_at" class="text form-label">Date</label>
                      <input type="date" class="form-control" name="created_at" id="created_at" placeholder="created_at" value="created_at">
                    </div>
                    <div class="form-group">
                      <label for="customer_id" class="form-label">Customer</label>
                      <select name="customer_id" class="form-select" id="customer_id" required>
                        <option value="" selected>Select</option> <!-- Default option -->
                        {% for customer in customer %}
                        <option value="{{ customer.id }}"><p>{{ customer.name }}</p></option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="product_id" class="form-label">Product</label>
                      <select name="product_id" class="form-select" id="product_id" required>
                        <option value="" selected>Select</option> <!-- Default option -->
                        {% for stock in stock %}
                        <option value="{{ stock.id }}">   
                            <p>{{ stock.name }} - 
                            {% if stock.product_type %}
                                {{ stock.product_type }}
                            {% elif stock.cap_type %}
                                {{ stock.cap_type }}
                            {% elif stock.preform_type %}
                                {{ stock.preform_type }}
                            {% else %}
                                N/A
                            {% endif %}
                            - {{ stock.color }}
                            </p>
                        </option>
                        {% endfor %}
                      </select>
                    </div>

                  <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Product quantity">
                  </div>

                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                  </div>

                  <div class="mb-3">
                    <label for="total" class="form-label">Total</label>
                    <input type="text" class="form-control" name="total" id="total" placeholder="total" readonly> 
                  </div>

                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Make Sales</button>
                </div>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
                 {% endif %}

              </form>


            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('quantity').addEventListener('input', () => calculateTotal('quantity', 'price', 'total'));
    document.getElementById('price').addEventListener('input', () => calculateTotal('quantity', 'price', 'total'));

    function calculateTotal(quantityId, priceId, totalId) {
        const quantity = document.getElementById(quantityId).value;
        const price = document.getElementById(priceId).value;
        const total = parseFloat(quantity) * parseFloat(price);
        if (!isNaN(total)) {
            document.getElementById(totalId).value = total.toFixed(2);
        } else {
            document.getElementById(totalId).value = '';
        }
    }
</script>

{% endblock %}
